.section {
    border-bottom: 0 !important;
}

.ff_layers_list_style {
    border:1px solid #E1DFE0;
    height: 150px;
    width: 275px;
    float: left;
    margin-top: 2px;
    overflow: auto;
    margin-bottom:8px
}

.ff_layer_style {
    overflow: hidden;
}
.ff_layer_style.selected {
    border: 1px dotted red;
}

.ff_layer_list_style {
    cursor: pointer;
    padding: 10px 5px 15px 5px;
    display: block !important;
}
.ff_layer_list_style.selected {
    background: lightblue;
}

.ff_layer_list_style .fa {
    float: right;
}

.ff_layers_list_sortable_style {
    width: 100% !important;
    padding: 0  !important;
}

#ff_media_content .innerTinyDivision {
    padding-left: 0;
}

